* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.navbar {
    color: white;
    display: flex;
    justify-content: space-between;
    height: 8svh;
    align-items: center;
    position: fixed;
    width: 100%;
}

.logo {
    margin-top: 10px;
    margin-left: 40px;
    text-shadow: 5px 5px 30px black;
}

ul {
    display: flex;
    gap: 2vw;
    list-style: none;
}

ul li {
    padding: 10px;
    margin-right: 20px;
    text-shadow: 5px 5px 30px black;
}

.logo:hover,
ul li:hover {
    color: black;
}


.push {
    display: flex;
    margin-top: 40px;
    transition: all 2s linear;
}

.push:hover {
    transform: translate(90px, 0px);
}

.span {
    margin-top: 100px;
    margin-left: 100px;

}


.Creative {
    color: rgb(199, 35, 63);
    font-size: 60px;
}

.Digital {
    color: white;
    font-size: 60px;
}

.lorem {
    margin-right: 200px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: white;
}

.b2 {
    border-radius: 20px;
    padding: 5px 10px;
    background-color: #c6088d;
    color: white;
}

.li {
    border: 2px solid;
    padding: 5px;
    border-radius: 20px;

}

.li:hover {
    background-image: linear-gradient(red, pink);
    background-color: white;
    color: black;
}

.first-class {

    width: 98.7vw;
    height: 100vh;
    background: linear-gradient(to right, #3264f5 2%, #7004bc 82%)
}

.inside-class {

    display: flex;
    justify-content: center;
    /* align-items: center; */
}

.pre1 {
    margin-left: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 5px 5px 40px black;
}

.btn1 {
    background-color: #1483f9;
    border-radius: 10px;
}

.second-class {
    display: flex;
    margin-top: 50px;
    margin-left: 90px;
    margin-top: 50px;
    text-shadow: 5px 5px 30px black;

}

.change {
    color: rgb(6, 189, 189);
}

.b1 {
    border-radius: 20px;
    padding: 5px 10px;
    background-color: #c6088d;
    color: white;
    box-shadow: 10px 10px 10px rgb(232, 76, 154);
}

.b1:hover,
.b2:hover {
    background-color: #238fdd;

}

.third-class {
    height: 200px;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-left: 50px;
    text-align: center;
}

.ss {
    margin-right: 120px;
    height: 100px;
    width: 100px;

}

#t1:hover {
    transform: rotate(360deg);
    transition: all 3s ease-out;
}

#t2:hover {
    transform: rotate(360deg);
    transition: all 3s ease-out;
}

#t3:hover {
    transform: rotate(360deg);
    transition: all 3s ease-out;
}

#t4:hover {
    transform: rotate(360deg);
    transition: all 3s ease-out;
}

.ss:hover {
    transform: scale(0.9);
}

.fourth-class {

    background: linear-gradient(to right, #237afe 2%, #03a9f5 82%);
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.read {
    margin-left: 150px;
}

.read1 {
    margin-right: 200px;

}

.h6 {
    font-size: 20px;
    color: white;
    margin-bottom: 10px;
}

.e {
    font-size: 50px;
    color: white;
}

.e1 {
    font-size: 50px;
    color: white;

}

.pa {
    margin-top: 20px;
    color: white;
}

.triputi {
    margin-top: 30px;
    color: white;
    display: flex;
}

.i1 {
    margin-left: 10px;
}

.i2 {
    margin-left: 50px;
}

.i3 {
    margin-left: 50px;
}


.fifth-class {
    margin-top: 20px;
    margin-bottom: 20px;
}

.write {
    margin: auto;
    height: 165px;
    width: 472px;
    text-align: center;
}

.write1 {
    font-size: 20px;
    margin-bottom: 10px;
}

.write2 {
    font-size: 40px;
    font-weight: bold;
}

.write3 {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 10px;
}

.three {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    margin-left: 115px;
    margin-right: 65px;

}

.fifthimg1 {
    text-align: center;
    margin-right: 20px;
}

.asset13:hover {
    background-image: url(asset\ 13.png);
    background-repeat: no-repeat;
    color: white;
    /* z-index: 2; */
}

.asset14:hover {
    background-image: url(asset\ 15.png);
    background-repeat: no-repeat;
    color: white;
}

.asset15:hover {
    background-image: url(asset\ 17.png);
    background-repeat: no-repeat;
    color: white;
}

#alt {
    transition: all 1s linear;
}

#alt:hover {
    transform: scale(1.09);
}

.fifthimg2 {
    text-align: center;
    margin-right: 20px;
}

.fifthimg3 {
    text-align: center;
}

#Director {
    margin-top: 20px;
}

#i1 {
    margin-right: 40px;
    margin-top: 20px;
    margin-left: 43px;
}

#i2 {
    margin-right: 40px;
    margin-top: 20px;
}

#i3 {
    margin-right: 40px;
    margin-top: 20px;
}

.six-class {
    background-color: #f8f9fa !important;
    display: flex;
    height: 400px;
    margin: auto;
    padding: 70px;
}

.change1 {
    color: rgb(231, 46, 172);
}

.left-text {
    margin-left: 100px;
}

.right-img {
    margin-right: 20px;
}

#b1 {
    margin-top: 35px;
}

#parag {
    margin-top: 20px;
}

#write1 {
    margin-top: 80px;
}
.eight-class{
    width: 100%;
    height: 800px;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    background-color: aqua;
}

.inside-eight-class{
   background-color: red;
    height: 100%;
    width: 600px;
    display: grid;
    grid-template-columns: auto auto auto auto ;
}
.gitem1{
    border: 2px solid;
}
.gitem2{
    border: 2px solid;
}
.gitem3{
    border: 2px solid;
}
.gitem4{
    border: 2px solid;
}
.gitem5{
    border: 2px solid;
}
.gitem6{
    border: 2px solid;
}
.gitem7{
    border: 2px solid;
}
.gitem8{
    border: 2px solid;
}

/* .bottom{
    display: flex;
    justify-content: center;
}
.item1{
    border: 1px solid rgb(225, 20, 20);
    border-radius: 20px;
    margin-left: 15px;
    height: 100px;
    width: 400px;
   

}
.item2{
    border: 1px solid rgb(205, 35, 35);
    border-radius: 20px;
    margin-left: 15px;
    height: 100px;
    width: 400px;
}
.item3{
    border: 1px solid rgb(221, 40, 40);
    border-radius: 20px;
    margin-left: 15px;
    height: 100px;
    width: 400px;
}

.bottom img{
    position: relative;
    text-align: left;
    overflow: hidden;
} */
.nineth-class {
    background: linear-gradient(to right, #237afe 2%, #03a9f5 82%);
    height: 200px;
    width: 100%;
    margin-top: 50px;
}

.marquee {
    margin: 0px 25%;
    margin-top: 60px;
}