* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-shadow: 5px 5px 30px black;
}
/* .color-change-4x {
	-webkit-animation: color-change-4x 6s linear infinite alternate both;
	        animation: color-change-4x 6s linear infinite alternate both;
} */
 /* @-webkit-keyframes color-change-4x {
    0% {
      background: #19dcea;
    }
    33.3333% {
      background: #b22cff;
    }
    66.666% {
      background: #ea2222;
    }
    100% {
      background: #f5be10;
    }
  }
  @keyframes color-change-4x {
    0% {
      background: #19dcea;
    }
    33.3333% {
      background: #b22cff;
    }
    66.666% {
      background: #ea2222;
    }
    100% {
      background: #f5be10;
    }
  } */
  
.navbar {
    background: linear-gradient(to right, #7004bc 2%, #3264f5 82%);
    color: white;
    display: flex;
    justify-content: space-between;
    height: 8svh;
    align-items: center;
    position: fixed;
    z-index: 2;
    width: 100%;
}

.logo {
    margin-top: 10px;
    margin-left: 40px;
    text-shadow: 5px 5px 30px black;
}
#i{
    margin-top:-40px;
}
.megaone{
    margin-top: -30px;
    margin-left:100px;
    font-size: 20px;
}
ul {
    display: flex;
    gap: 2vw;
    list-style: none;
}

ul li {
    padding: 10px;
    margin-right: 20px;
    text-shadow: 5px 5px 30px black;
}

.logo:hover,
ul li:hover {
    color: black;
}


.push {
    display: flex;
    margin-top: 40px;
    transition: all 2s linear;
}

.push:hover {
    transform: translate(90px, 0px);
}

.span {
    margin-top: 100px;
    margin-left: 100px;

}


.Creative {
    color: rgb(199, 35, 63);
    font-size: 60px;
}

.Digital {
    color: white;
    font-size: 60px;
}

.lorem {
    margin-right: 200px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: white;
}

.b2 {
    border-radius: 20px;
    padding: 5px 10px;
    background-color: #c6088d;
    color: white;
}

.li {
    border: 2px solid;
    padding: 5px;
    border-radius: 20px;

}

.li:hover {
    background-image: linear-gradient(red, pink);
    background-color: white;
    color: black;
}

.first-class {

    width: 98.7vw;
    height: 100vh;
    background: linear-gradient(to right, #3264f5 2%, #7004bc 82%)
}

.inside-class {
    display: flex;
    justify-content: center;
}

.pre1 {
    margin-left: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 5px 5px 40px black;
}

.btn1 {
    background-color: #1483f9;
    border-radius: 10px;
}

.second-class {
    display: flex;
    margin-top: 50px;
    margin-left: 90px;
    margin-top: 50px;
    text-shadow: 5px 5px 30px black;

}

.change {
    color: rgb(6, 189, 189);
}

.b1 {
    border-radius: 20px;
    padding: 5px 10px;
    background-color: #c6088d;
    color: white;
    box-shadow: 10px 10px 10px rgb(232, 76, 154);
}

.b1:hover,
.b2:hover {
    background-color: #238fdd;

}

.third-class {
    height: 200px;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-left: 50px;
    text-align: center;
}

.ss {
    margin-right: 120px;
    height: 100px;
    width: 100px;

}

#t1:hover {
    transform: rotate(360deg);
    transition: all 3s ease-out;
}

#t2:hover {
    transform: rotate(360deg);
    transition: all 3s ease-out;
}

#t3:hover {
    transform: rotate(360deg);
    transition: all 3s ease-out;
}

#t4:hover {
    transform: rotate(360deg);
    transition: all 3s ease-out;
}

.ss:hover {
    transform: scale(0.9);
}

.fourth-class {

    background: linear-gradient(to right, #237afe 2%, #03a9f5 82%);
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.read {
    margin-left: 150px;
}

.read1 {
    margin-right: 200px;

}

.h6 {
    font-size: 20px;
    color: white;
    margin-bottom: 10px;
}

.e {
    font-size: 50px;
    color: white;
}

.e1 {
    font-size: 50px;
    color: white;

}

.pa {
    margin-top: 20px;
    color: white;
}

.triputi {
    margin-top: 30px;
    color: white;
    display: flex;
}

.i1 {
    margin-left: 10px;
}

.i2 {
    margin-left: 50px;
}

.i3 {
    margin-left: 50px;
}


.fifth-class {
    margin-top: 20px;
    margin-bottom: 20px;
}

.write {
    margin: auto;
    height: 165px;
    width: 472px;
    text-align: center;
}

.write1 {
    font-size: 20px;
    margin-bottom: 10px;
}

.write2 {
    font-size: 40px;
    font-weight: bold;
}

.write3 {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 10px;
}

.three {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    margin-left: 115px;
    margin-right: 65px;

}

.fifthimg1 {
    text-align: center;
    margin-right: 20px;
}

.asset13:hover {
    background-image: url(asset\ 13.png);
    background-repeat: no-repeat;
    color: white;
    /* z-index: 2; */
}

.asset14:hover {
    background-image: url(asset\ 15.png);
    background-repeat: no-repeat;
    color: white;
}

.asset15:hover {
    background-image: url(asset\ 17.png);
    background-repeat: no-repeat;
    color: white;
}

#alt {
    transition: all 1s linear;
}

#alt:hover {
    transform: scale(1.09);
}

.fifthimg2 {
    text-align: center;
    margin-right: 20px;
}

.fifthimg3 {
    text-align: center;
}

#Director {
    margin-top: 20px;
}

#i1 {
    margin-right: 40px;
    margin-top: 20px;
    margin-left: 43px;
}

#i2 {
    margin-right: 40px;
    margin-top: 20px;
}

#i3 {
    margin-right: 40px;
    margin-top: 20px;
}

.six-class {
    background-color: #f8f9fa !important;
    display: flex;
    height: 400px;
    margin: auto;
    padding: 70px;
}

.change1 {
    color: rgb(231, 46, 172);
}

.left-text {
    margin-left: 100px;
}

.right-img {
    margin-right: 20px;
}

#b1 {
    margin-top: 35px;
}

#parag {
    margin-top: 20px;
}

#write1 {
    margin-top: 80px;
}

.eight-class {
    height: 1350px;
    margin-left:150px;
    padding-right: 150px;
    margin-top: 50px;
   
}

.remove {
    margin-left: 350px;
    margin-bottom: 20px;
}

.inside-eight-class1 {
    display: flex;
    margin-left: 100px;
}

.gitem1 {
    height: 600px;
    width: 280px;
}

.gitem1:hover {
    transform: scale(1.01);
}

.gitem2:hover {
    transform: scale(1.01);
}

.gitem3:hover {
    transform: scale(1.01);
}

.gitem4:hover {
    transform: scale(1.01);
}

.gitem5:hover {
    transform: scale(1.01);
}

.gitem61:hover {
    transform: scale(1.01);
}

.gitem621:hover {
    transform: scale(1.01);
}

.gitem622:hover {
    transform: scale(1.01);
}

.gitem2 {
    height: 300px;
    width: 280px;
}

.gitem3 {
    margin-top: -4px;
    height: 300px;
    width: 280px;
}

.gitem4 {
    margin-top: 4px;
    height: 600px;
    width: 500px;
}

.inside-eight-class2 {
    display: flex;
    margin-left: 100px;
}

.gitem5 {
    height: 600px;
    width: 560px;
}

.gitem61 {
    height: 300px;
    width: 500px;
}

.gitem62 {
    display: flex;
}

.gitem621 {
    height: 300px;
    width: 250px;
}

.gitem622 {
    height: 300px;
    width: 250px;
}

.nine-class {
    background: linear-gradient(to right, #3264f5 2%, #7004bc 82%);
    width: 100%;
    height: 500px;
}

.main-div {
    display: flex;
    padding: 0px 50px;
    text-align: center;
}

.left-1 {
    margin-top: 50px;
    margin-left: 50px;
}
.left-11{
    border-radius: 50px;
    margin-left: -80px;
}

.left-12{
    margin-top: -2px;
    margin-left: 90px;
    border-radius: 50px;
}
.left-13{
    margin-top: 10px;
    margin-left:-40px;
    border-radius: 50px;
}
.left-14{
    margin-left:100px;
    border-radius: 50px;
}

.vachhe-text {
    width: 500px;
    text-align: center;
    margin-top: 60px;
}
.Some {
    font-size: 50px;
    color: white;
}

.our {
    font-size: 50px;
    color: white;
}

.fakro {
    margin-bottom: 30px;
    color: white;
    font-style: italic;
}

.David {
    margin-bottom: 10px;
    font-size: 20px;
    color: rgb(228, 61, 114);
}

.Designer {
    margin-bottom: 10px;
    font-size: 15px;
    color: white;
    font-style:oblique;
}


.right-1 {
    margin-top: 50px;
    margin-right: 50px;
}
.right-11{
    border-radius: 50px;
    margin-right:40px;
}

.right-12{
    margin-top: -5px;
    margin-right: -100px;
    border-radius: 50px;
}
.right-13{
    margin-top: -5px;
    margin-right: -18px;
    border-radius: 50px;
}
.right-14{
    margin-top: 20px;
    margin-right:90px;
    border-radius: 50px;
}
/* .gm-control-active gm-fullscreen-control{
    background: none rgb(255, 255, 255);
    border: 0px;
    margin: 10px;
    padding: 0px;
    text-transform: none;
    appearance: none;
    position: absolute;
    cursor: pointer;
    user-select: none;
    border-radius: 2px;
    height: 40px;
    width: 40px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px;
    overflow: hidden;
    top: 0px;
    right: 0px;
} */









/* .bottom{
    display: flex;
    justify-content: center;
}
.item1{
    border: 1px solid rgb(225, 20, 20);
    border-radius: 20px;
    margin-left: 15px;
    height: 100px;
    width: 400px;
   

}
.item2{
    border: 1px solid rgb(205, 35, 35);
    border-radius: 20px;
    margin-left: 15px;
    height: 100px;
    width: 400px;
}
.item3{
    border: 1px solid rgb(221, 40, 40);
    border-radius: 20px;
    margin-left: 15px;
    height: 100px;
    width: 400px;
}

.bottom img{
    position: relative;
    text-align: left;
    overflow: hidden;
} */